@media(max-width:1362px){
    .container{
        padding: 0 15px;
    }
}

@media(max-width:1195px){

    .header .container{
        width: 100%;
        justify-content: space-between;
    }

    .main-nav-list{
        flex-direction: column;
        gap: 32px;
    }

    .main-nav-list li{
        width: 100%;
    }

    
    .main-nav{
        flex-direction: column;
        background-color: #fff;
        padding: 104px 20px;
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        height: 100vh;
        transform: translateX(100%);
        transition: .3s all;
    }

    .main-nav.active{
        transform: translateX(0);
    }

    .mini-menu{
        display: flex;
    }

    .btns-flex{
        flex-direction: column;
        align-items: unset;
        text-align: center;
    }

    .open-icon{
        display: block;
    }

    .close-icon{
        display: block;
        position: absolute;
        top: 52px;
        right: 15px;
    }

    .search{
        display: none;
    }
}

@media(max-width:1080px){
    .footer-col-473{
        margin-bottom: 32px;
    }

    .footer-container{
        justify-content: center;
    }
}

@media(max-width:1024px){
    .flexy{
        flex-direction: column;
    }

    .fundraiser-container{
        flex: unset;
        max-width: 100%;
    }
    
    .donation-container{
        flex: unset;
        max-width: 100%;
    }
}

@media(max-width:520px){
    .container{
        padding: 10px;
    }

    .donation-container{
        padding:16px;
    }

    .fundraiser-desc{
        padding:10px
    }

    .footer-col-580{
        gap: 8px;
        justify-content: space-between;
    }

    .heading-primary{
        line-height: 40px;
    }

    .dates{
        font-size: 14px;
    }

    .dates span{
        font-size: 16px;
    }

    .description{
        font-size: 16px;
    }
}

@media(max-width:424px){
    .footer-col-580{
        flex-direction: column;
    }

    .number-input{
        width: 50%;
    }

    .heading-primary{
        font-size: 25px;
    }
}